.cardReporte {
  color: #FFF;
  border-radius: 5px;
}
.card-1{ background-color: #007bff;}
.card-2{ background-color: #ef5350;}
.card-3{ background-color: #66bb6a}
.card-4{ background-color: #26c6da;}
.card-5{background-color: #8945cd;}
.card-6{background-color:#e50d6b;}
.card-jumbotron {
  position: absolute;
  left: 40%;
  top: -47px;
  border-radius: 0%;
}
.jumbotron{
  margin-top: 2%;
  margin-bottom: 2%;
}
.jumbotronGeneral{
  margin-top: 5%;
  margin-bottom: 5%;
}
.tableAprobados{
  margin-top: 2%;
}
.tableReprobados{
  margin-top: 2%;
}