body{
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

  /* ***********login*************************************************** */
  .boxLogin{
    margin-top: 8.9%;
    margin-bottom: 8.5%;
  }
  .error {color: #FF0000;}
  .cardHeader{
    background-color: #d4ae72;
    color: #1C3D6C;
    padding-bottom: 0%;
  }


/* ***********profesor*************************************************** */
/* ***********cursos*************************************************** */
.title{
  color: #1C3D6C;
  background-color:#d4ae72;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 2%;
  background-image: linear-gradient(to right top, #ffff8d, #ecd77a, #d3b26b, #b58f5e, #947051);

}
.title h1{
  margin: 20px;
}

.titleCurso{
  color: #1C3D6C;
  background-color:#6c757d82;
  text-align: start;
  /* padding-left: 2%;
  padding-right: 2%; */
  padding: 2%;
  padding: 1% 2% 1%; 
}
.titleBox{
  margin-top: 2%;
  margin-bottom: 3%;
}
  .btn-grupo{
      color: #fff;
      background-color: #dc3545;
      border-color: #dc3545;
  }
  .table-grupos{
    background-color: #f2f2f2;
    margin-bottom: 3%;
  }
  .table-gruposBox{
    margin-bottom: 5%;
  }
  .table-grupoBox{
    margin-bottom: 4%;
  }
  .table-cursosBox{
    margin-bottom: 5%;
  }
/*************grupos************************************************** */
/*************grupo************************************************** */
.botonesBox{
  margin-bottom: 2%;
  margin-top: 3%;
}
/*************busqueda************************************************** */
.table-busqueda{
  margin-top: 2%;
  margin-bottom: 0%;
}
.footer-busqueda{
  margin-top: 21.5%;
}
.subir_button { font-size: 13px; }
/* *********subir calificacionm ************/
.formCargar{
  border-radius: 5px;
  background-color: #f2f2f2;
  border-color:  #1C3D6C; 
   border-style: solid;
   padding-bottom: 3%;
   padding-top: 3%;
   font-family: 'Roboto', sans-serif;
}
.boxForm{
  margin-bottom: 9.6%;
}
/* ***********footer*************************************************** */
  .footer {
    background-color: #1C3D6C;
    font-family: "Helvetica", sans-serif;
    /*padding-bottom: 2%;*/
    border-top: 5px solid #c5911f;
    border-bottom: 5px solid #c5911f;
    padding-top: 2%;
    font-family: 'Roboto', sans-serif;
}
.footer a {
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}
.aviso{
  background-color: #3b4042;
  padding-bottom: 2%;
}

/*********header**********************************************************/

.header {
  background-color: #1C3D6C;
  margin-bottom: 0%;
  font-family: "Helvetica", sans-serif;

}
.header a{
  text-decoration: none;
}
thead{
  background-color:#344f80;
  color: white;
}
/* modal */
.modal-header{
  background-color:#1C3D6C;
  color: white;
}
.modal-footer{
  background-color:#1C3D6C;
  color: white;
  
}

.contorno{
  border: 2px solid  #1C3D6C;
}
/**************medias*****************************************************************/

@media only screen and (max-width: 1031px) and (min-width: 768px) {  
  .boxLogin {
    margin-top: 25%;
    margin-bottom: 24%;

} 
.footer-busqueda {
  margin-top: 90.5%;
}
} 
/*******************contenedores grafica ************************************************************/

.container_grafica_cursos{
  margin-bottom: 8%;
  
}
.container_grafica_cursos_cord{
  margin-bottom: 8%;
  
}


.container_grafica_curso{
  margin-bottom: 8%;
}
.container_grafica_curso_cord{
  margin-bottom: 8%;
}
.container_grafica_grupos{
  margin-bottom: 8%;
}
.container_grafica_grupos_cord{
  margin-bottom: 8%;
}
.container_grafica_grupo{
  margin-bottom: 8%;
}
.container_grafica_grupo_cord{
  margin-bottom: 8%;
}

.grafica_cursos{
  width: 100%;
}
.grafica_curso{
  width: 100%;

}
.grafica_row{

  border-style: solid;
  border-color: #1C3D6C;
  border-radius: 10px;
}

/************coordinador****************************************************************************************/
.table-bitacora{
  margin-bottom: 10%;
  
}